<div class="layui-logo">Proxyz</div>
<ul class="layui-nav layui-layout-left">
    <li class="layui-nav-item">
        <a href="javascript:;">测试菜单</a>
        <dl class="layui-nav-child">
            <dd><a href="">菜单一</a></dd>
            <dd><a href="">菜单二</a></dd>
            <dd><a href="">菜单三</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item layui-hide-xs">
        <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search"
               layadmin-event="serach" lay-action="">
        <!-- 尚未开发 -->
    </li>
</ul>
<ul class="layui-nav layui-layout-right" lay-filter="">
    <li class="layui-nav-item" >
        <a href="">{{ g.user["username"] }}</a>
        <dl class="layui-nav-child">
            <dd><a href="{{ url_for('auth.myinfo') }}">用户中心</a></dd>
            <dd><a href="">修改密码</a></dd>
            <hr>
            <dd><a href="{{ url_for('auth.logout') }}">退出登录</a></dd>
        </dl>
    </li>
</ul>
