<ul class="layui-nav layui-nav-tree"  lay-filter="test">
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">
            <i class="layui-icon layui-icon-home"></i>
            <cite>主页</cite>
        </a>
        <dl class="layui-nav-child">
            <dd><a href="{{ url_for('admin.index') }}">控制台</a></dd>
            <dd><a href="{{ url_for('auth.index') }}">个人中心</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">
            <i class="layui-icon layui-icon-dollar"></i>
            <cite>管理</cite>
        </a>
        <dl class="layui-nav-child">
            <dd><a href="{{ url_for('admin.user') }}">用户管理</a></dd>
            <dd><a href="{{ url_for('admin.node') }}">节点管理</a></dd>
        </dl>
    </li>
</ul>
