<ul class="layui-nav layui-nav-tree"  lay-filter="test">
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">
            <i class="layui-icon layui-icon-home"></i>
            <cite>主页</cite>
        </a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">控制台</a></dd>
            <dd><a href="javascript:;">个人中心</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">
            <i class="layui-icon layui-icon-user"></i>
            <cite>用户</cite>
        </a>
        <dl class="layui-nav-child">
            <dd>
            <!-- todo 待补全 -->
            <dd><a href="javascript:;">用户管理</a></dd>
            </dd>
        </dl>
    </li>
</ul>
