<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Flaskr</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}" media="all">
    {% block headlink %}{% endblock %}
</head>
<body>
<nav>
    <h1>Flaskr</h1>
    <ul>
        {% if g.user %}
            <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
            <li><a href="{{ url_for('auth.index') }}">{{ g.user['username'] }}</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
{% block body %}{% endblock %}

<script src="{{ url_for('static',filename='layui/layui.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>
